@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --primary-azul: #2c82b9;
  --cor-preto: #000;
  --font-lato-corpo: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: var(--font-lato-corpo);
}

body {
  background-image: url(../img/lista.png);
  background-repeat: no-repeat;
}


a {
  text-decoration: none;
}

.header {
  height: 100px;
}

.header .container {
  height: 80px;
  width: 80%;
  margin: auto;
}

.header h1 {
  margin: 0;
  padding: 0;
  float: left;
  margin-top: 30px;
  margin-left: 2px;
  float: left;
  width: 80%;
}

.header img {
  margin: 0;
  padding: 0;
  float: left;
  margin-top: 30px;
  height: 40px;
  float: left;
}


.header a{
    margin: 0;
    padding: 0;
    margin-top: 30px;
    margin-left: 2px;
    width: 20px;
}

.header span {
  padding-left: 25%;
  color: var(--primary-azul);
  font-size: 2.5rem;
  text-align: center;
}

.containerList {
  margin-top: 3vh;
  margin-left: 40vh;
  display: flex;
  justify-content: center;
  min-width: 146vh;
  min-height: 52vh;
  position: absolute;
  z-index: 9;
}

.containerList ul {
  min-width: 80vh;
  height: 65vh;
  padding: 0 1rem 1rem 0;
  overflow: hidden;
  overflow-y: scroll;
}

.containerList ul::-webkit-scrollbar {
  width: 8px;
}

.containerList ul::-webkit-scrollbar-thumb {
  background: #e8effb;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.containerList ul::-webkit-scrollbar-track {
  cursor: pointer;
}

.containerList li {
  list-style-type: none;
  background-color: #e8effb;
  height: 12vh;
  margin-bottom: 10px;
}

.menu {
    margin-top: 5px;
    margin-left: 85px;
  float: left;
}

.containerList img {
  margin-left: 10px;
  padding: 0;
  height: 35px;
  float: left;
  cursor: pointer;
}

.lado{ 
  float: left;
}
h4 {
  padding-top: 10px;
}

h4 span {
  padding-left: 20px;
  padding-right: 40px;
  margin-bottom: 20px;
}