.contsup{
  display: grid;
  grid-template-columns: 1fr 275px;
  max-width: 1400px;
  height: 750px;
}
.graficoGeral{
  display: flex;
  align-items: center;
}
.alertas{
 display: flex;
 flex-direction: column;
 align-items: center;
  padding-top: 15px;
  overflow-y: scroll;
  height: 700px;
}
.alertas a {
  text-decoration: none;
}
.alertas::-webkit-scrollbar {
  width: 18px;
}
.perfilFunc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.alertas::-webkit-scrollbar-thumb {
  background: #8d4af26c;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-left: 3px solid rgb(237, 237, 253);
  border-right: 3px solid rgb(237, 237, 253);
}

.alertas::-webkit-scrollbar-track {
  background: rgb(237, 237, 253);
  cursor: pointer;
}


.infoBalao{
  background-color: white;
    width: 220px;
  height: 120px;
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.164);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.infoBalao h1{
  color: #333;
   font-size: 18px;
   display: flex;
   align-items: center;
}
.infoBalao h1::after{
  content: '';
  width: 10px;
  height: 10px;
  margin-left: 10px;
  background-color: tomato;
  display: inline-block;
  border-radius: 50%;
}
.infoBalao h2{
  color: #333;
   font-size: 14px;
}


.containerDash{
  height: 94vh !important;
}