.gestor_cont{
  transition: .3s;
  max-width: 1250px;
  height: 450px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 100px 2fr 1fr;
  
  align-items: center;
  
}
.gestor_cont.ativo{
  transition: .3s;
  min-width: 1250px;
  height: 750px;
  display: grid;
  grid-gap: 20px;
  align-items: center;
}
.ballom{
  transition: .3s;
  background-color: white;
  height: 175px;
  width: 1200px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(51, 51, 51, 0.246);
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 position: absolute;
 left: 0%;
 opacity: 0;
 top: 780px;

}
.ballom.ativo{
  display: flex;
  opacity: 1;
  height: 150px;
  transform: translate3d(0px,0px,0px);
  top: 430px;
  left: 5%;
  
}
.ballom h1,.ballom span{
  margin-bottom: 5px;
  text-align: center;
}
.ballom ul{
  display: flex;
  
}
.ballom ul{
  margin-top: 5px;
}
.ballom ul li span{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  display: block;
}
.ballom ul li{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #333;
  padding: 5px;
  border-radius: 2px;
  margin-left:10px ;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px !important;
  padding-top: 5px !important;
}

.ballom ul li{
 background-color: rgba(128, 0, 128, 0.082);
 width: 130px;
 padding-left: 30px;
}

.grafico1{
  height: 340px;
  display: flex;
  flex-direction: column;
 
 margin-right: 20px;
 
}
.gf3{
  align-items: center;

  display: flex;
  height: 340px;
  justify-content: center;
}
.grafico2{
  
  height: 340px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}
#myChart3{
  height: 230px !important;
    width: 230px !important;
}
.grafico1 span,.grafico2 span{
  background-color: rgba(128, 0, 128, 0.082);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: #333;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  width: 400px;
}


.more{
  height: 480px;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.btnspan{
  cursor: pointer;
  background-color: purple;
  border-radius: 50%;
  width: 40px;
  padding-top: 4px;
  height: 40px;
  display: block;
}
.btnspan.off{
  display: none;
}

.more span div{
  display: flex;
  font-size: 19px;
  font-weight: bold;
  color: white;
  align-items: center;
  justify-content: center;
}

.cabecalho{
   display: flex;
   
}
.back{
  transform: rotate(90deg);
  width: 30px !important;
  height: 30px !important;
}
.cabecalho{
   display: flex;
 text-align: center;
}
.cabecalho h1{
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: purple;
  letter-spacing: 1px;
  margin-left: 30px;
 
}
.containerDash{
  height: 90vh;
  width: 93%;
}
.containerDash.ativo{
  transition: .3s;
  height: 93vh;
}
body{
  overflow: hidden;
}

.gestorPerfil{
  display: flex;
  flex-wrap: nowrap;
  width: 300px;
}
.cabecalho h1{
  font-size: 16px;
  width: 350px;
}