@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap');
:root {
    --cor-primario-azul: #5879FA;
    --cor-secundaria-cinza: #E9EBF0;
    --cor-oposto-vermelho: red;
    --cor-terciaria-roxo: #7644D4;
    --cor-preto: #000;
    --font-roboto-titulo: 'Roboto', sans-serif;
    --font-montserrat-corpo: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(237, 237, 253);
    background: linear-gradient(0deg, rgba(237, 237, 253, 1) 0%, rgba(179, 179, 204, 1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-dash {
    height: 90vh;
    background: #ededfd;
    border-radius: 33px;
    width: 160vh;
}

.navBar {
    background: rgb(131, 64, 235);
    background: linear-gradient(187deg, rgba(131, 64, 235, 1) 0%, rgba(107, 107, 251, 1) 100%);
    width: 40vh;
    height: 90vh;
    border-radius: 33px;
    position: absolute;
    margin-right: 20px;
   left: 80px;
   top: 50px;
}
.imgLogo{
    width: 50%;
}