:root {
    --cor-primario-azul: #5879FA;
    --cor-secundaria-cinza: #E9EBF0;
    --cor-oposto-vermelho: red;
    --cor-terciaria-roxo: #7644D4;
    --cor-preto: #000;
    --font-roboto-titulo: 'Roboto', sans-serif;
    --font-montserrat-corpo: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

.sobre_bk {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em 0;
}


.sobre_bk h1 {
    font-size: 50px;
    font-weight: bold;
    font-family: var(--font-roboto-titulo);
}

.integrantes {
    display: flex;
    align-items: center;
    height: 95vh;
    position: absolute;
    justify-content: space-evenly;
    width: 85%;
    top: 5vh;
    margin: auto;
    flex-flow: wrap;
    margin-top: 5%;
}

.iconEquipe{
    margin-left: 37px;
}

.iconEquipe img{
    width: 38px;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 2%;
    margin-left: 2%;
    float: left;
}

.flip-container img {
    width: 80%;
}

.flip-container {
    perspective: 1000;
    float: left;
    margin-left: 5vh;
    margin-bottom: 3vh;
    align-items: center;
    margin-top: 2%;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    height: 20em;
    width: 25em;
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.back {
    background-color: rgb(255, 255, 255);
    transform: rotateY(180deg);
}

.front {
    z-index: 2;
}