/* setando css */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap");

:root {
  --cor-primario-azul: #5879fa;
  --cor-secundaria-cinza: #e9ebf0;
  --corcinza-escuro: #575757;
  --corcinza-claro: #b8b8b8;
  --cor-white: #ffffff;
  --cor-oposto-vermelho: red;
  --cor-terciaria-roxo: #7644d4;
  --cor-roxo-claro: #c5afec;
  --cor-preto: #000;
  --font-roboto-titulo: "Roboto", sans-serif;
  --font-montserrat-corpo: "Montserrat", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* body*/
body {
  background: rgb(237, 237, 253);
  background: linear-gradient(0deg, rgba(237, 237, 253, 1) 15%, rgba(179, 179, 204, 1) 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none !important;
}


/* container */

.containerDash {
  background-color: rgb(237, 237, 253);
  height: 92vh;
  width: 85%;
  margin: 25px auto 0px auto;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 230px 1fr;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.26);
}

/* menu */

.containerMenu {
  background: rgb(158, 97, 252);
  background: linear-gradient(158deg, rgba(158, 97, 252, 1) 0%, rgba(44, 49, 182, 1) 100%);
  overflow: hidden;
  height: 78vh;
  width: 245px;
  position: relative;
  left: -45px;
  border-radius: 44px;
  margin-top: 30px;
}

/* Container info */

.containerInfo {
  height: 78vh;
  width: 95%;
  margin-top: 30px;
}

.dashinfo {
  height: auto;
}

/* ContainerNav */

.containerNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

/* img logo branco */

.containerNav div img {
  width: 105px;
  height: 85px;
  margin-bottom: 15px;
}

/* tetxto Dashboard */

.containerNav h2 {
  color: white;
  letter-spacing: 1px;
  font-size: 25px;
  font-style: italic;
  margin: 3px;
}

.containerNav h2::after {
  content: "";
  display: block;
  margin: 0px auto;
  margin-top: 10px;
  height: 2px;
  border-radius: 4px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.466);
}

/* lista_menu_geral */

.lista_menu_geral {
  width: 140px;
  display: flex;
  flex-direction: column;
  height: 305px;
  align-items: center;
  text-align: center;
}

.lista_menu_geral li {
  margin-bottom: 8px;
  margin-top: 8px;
}

.lista_submenu {
  opacity: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  transition: .3s;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.lista_submenu.ativo {
  display: flex;
  animation: modal .3s forwards;
}

.dwn {
  display: flex;
  align-items: center;
}

.dwn.ativo::after {
  transform: rotate(360deg);
}

.dwn::after {
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;

  background-position: center;
  background-size: cover;
  margin-left: 5px;
  transform: rotate(272deg);
  transition: transform .3s;
}

.lista_submenu li {
  background-color: rgba(51, 51, 51, 0.295);
  padding: 0px 5px;
  border-radius: 3px;
  transition: .3s;
}

.lista_menu_geral li a {
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

.lista_menu_geral li a:hover {
  color: rgb(255, 255, 88);
}

/* cabecalho */

.close {
  display: none;
}

.cabecalho {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  justify-content: space-between;
}

.cabecalho img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  border-radius: 50%;
}

.gestorPerfil {
  display: flex;
}

.gestorPerfil h4.ativo::after {
  transform: rotate(360deg);
}

.gestorPerfil h4::after {
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  background: url('./img/seta.svg');
  background-position: center;
  background-size: cover;
  margin-left: 5px;
  transform: rotate(272deg);
  transition: transform .3s;
}

.gestorPerfil h4 {
  color: #333;
  cursor: pointer;
  letter-spacing: 1px;
}

.gestorPerfil p {
  color: rgba(51, 51, 51, 0.616);
  font-style: italic;
}

.box_perfil {
  width: 100px;
  height: 70px;
  border-radius: 10px;
  position: absolute;
  margin-left: 50px;
  margin-top: -20px;
  color: #333;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 195, 83);
}

.box_perfil p {
  font-size: 12px;
  margin-bottom: 3px;
}

.box_perfil.ativo {
  display: flex;
  animation: modal .3s ease-out;
}

.box_perfil a {
  text-decoration: none;
  color: #333;
}

.box_perfil p:first-child::after {
  content: "";
  height: 1px;
  width: 50px;
  background-color: #333;
  display: block;
  margin: 0px auto;
  margin-top: 5px;
  margin-bottom: 2px;
}

.pesquisa {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  height: 35px;
  width: 300px;
  border-radius: 10px;
  padding: 0px 5px;
}

.pesquisa img {
  height: 15px;
  width: 15px;
}

.pesquisa input {
  border-style: none;
  width: 290px;
  outline: none;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mobibleMenu {
  display: none;
}

.mphone {
  display: none;
}

/* Balao */

.containerInfoBalao {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  max-height: 70vh;
  overflow-y: scroll;
  grid-gap: 10px !important;
  opacity: 0;
}

.containerInfoBalao a {
  text-decoration: none;
  color: blueviolet;
  margin-top: 15px;
}

.containerInfoBalao::-webkit-scrollbar {
  width: 18px;
}

.containerInfoBalao::-webkit-scrollbar-thumb {
  background: #8d4af26c;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-left: 3px solid rgb(237, 237, 253);
  border-right: 3px solid rgb(237, 237, 253);
}

.containerInfoBalao::-webkit-scrollbar-track {
  background: rgb(237, 237, 253);
  cursor: pointer;
}

.who {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.perfilFunc {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.perfilFunc img {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.perfilFunc h1 {
  font-size: 18px;
  font-weight: 600;
  color: rgb(26, 26, 26);
  margin-right: 15px;
}

.infoBalao {
  background-color: white;
  cursor: pointer !important;
  transition: .3s;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.219);
  overflow: hidden;
  height: 125px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 184px;
  margin-bottom: 10px;
  padding-left: 5px;
}

.infoBalao.off {
  display: none;
}

.infoBalao.on {
  background-color: greenyellow;
}

.infoBalao.ativo {
  height: 340px;
  padding-top: 10px !important;
}

.perfilS {

  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #333;
  margin-bottom: 0px;
  margin-top: 88px !important;
}

.perfilS p {
  margin-bottom: 5px;
}

.status {
  font-size: 18px;
  font-weight: 500;
  color: rgb(26, 26, 26);
  margin-top: 5px;
}

.status span.ruim {
  color: tomato;
  font-weight: bold;
}

.status span.medio {
  color: #8c4af2;
  font-weight: bold;
}

.status span.bom {
  color: green;
  font-weight: bold;
}

.perfilM {
  font-size: 10px;
}

.perfilS {
  margin-top: 15px;
}

.btnback {
  font-size: 14px;
  color: #333;
  transition: .3s;
  display: none;
}

.btnback.on {
  display: initial;
}

/* AREA MOBILE */

@media only screen and (max-width: 920px) and (min-width: 767px) {
  .containerDash {
    border-radius: 15px;
  }

  .containerInfoBalao {
    height: 90vh;
  }

  .mphone {
    cursor: pointer;
    height: 30px;
    margin-left: 30px;
    display: flex;
    align-items: center;
  }

  .mphone div {
    height: 4px;
    width: 30px;
    background-color: #8c4af2;
    box-shadow: 0px 7px 0px #8c4af2, 0px -7px 0px #8c4af2;
  }

  .dashinfo {
    height: 80vh;
    width: 90%;
    margin: 0 auto;
    margin-left: 60px;
  }

  .containerMenu {
    transition: .3s;
    overflow: hidden;
    height: 75vh;
    width: 295px;
    position: absolute;
    transform: translateX(-1000px);
    border-radius: 15px 5px 15px 15px;
  }

  .containerMenu.ativo {
    transform: translateX(50px);
    z-index: 100;
  }

  .containerDash {
    background-color: rgb(237, 237, 253);
    height: 92vh;
    width: 90%;
    margin: 25px auto 0px auto;
    border-radius: 110px;
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.26);
  }

  .cabecalho {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    position: relative;
    justify-content: space-between;
  }

  .mbc {
    cursor: pointer;
    height: 30px;
    position: relative;
  }

  .cabecalho {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    justify-content: space-between;
  }

  .close {
    display: inherit;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    right: 5px;
    top: 3px;
    width: 25px;
    display: flex;
    justify-content: center;
    border-style: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .close:hover {
    color: tomato;
  }

  .lista_menu_geral {
    width: 100%;
    justify-content: center;
  }

  .dwn {
    display: flex;
    justify-content: center;
  }

  .lista_menu_geral li {
    text-align: center;
    width: 100%;
  }

  .lista_menu_geral li a {
    font-size: 24px;
  }

  .containerNav h2 {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 766px) {
  .containerDash {
    border-radius: 15px;
    height: 93vh;
  }

  .dashinfo {
    height: auto;
    width: 90%;
    margin: 0;
    margin-left: 18px;
  }

  .cabecalho {
    flex-direction: column;
  }

  .pesquisa {
    margin: 7px 0px;
  }

  .containerMenu {
    transform: translateX(-1000px);
    position: absolute;
    transition: .3s;
    border-radius: 5px;
  }

  .containerDash {
    grid-template-columns: 1fr;
  }

  .containerMenu.ativo {
    transform: translateX(50px);
    position: absolute;
  }

  .box_perfil {
    flex-direction: column;
    height: 90px;
    width: 100px;
    right: 5px;
  }

  .gestorPerfil {
    margin: 10px;
  }

  .mphone {
    cursor: pointer;
    height: 30px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    transform: translateX(-25px);
  }

  .mphone div {
    height: 4px;
    width: 30px;
    background-color: #8c4af2;
    box-shadow: 0px 7px 0px #8c4af2, 0px -7px 0px #8c4af2;
  }

  .close {
    display: inherit;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    right: 5px;
    top: 3px;
    width: 25px;
    display: flex;
    justify-content: center;
    border-style: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .close:hover {
    color: tomato;
  }

  .containerInfoBalao {
    grid-template-columns: 1fr;
    height: 60vh;
  }
}

.btnStatus {

  height: 30px;
  display: flex;
  align-items: center;
}

.btnStatus ul {
  display: flex;
}

.btnStatus ul li {
  display: flex;
  transition: .1s;
  width: 130px;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  padding-left: 15px;
  background: #8d4af26c;
  color: white;
  height: 30px;
  margin: 0px 10px;
}

.btnStatus ul li div {
  transition: .3s;
}

.btnStatus ul li.ATIVOS {
  background-color: #8c4af2;
  color: white;
  font-weight: bold;
}

.btnStatus ul li.ATIVOS div {
  border-radius: 10px 0px 0px 10px;
  background-color: rgb(94, 207, 79);
  height: 30px;
  display: flex;
  align-items: center;
  width: 50px;
  justify-content: center;
}

.btnStatus ul li.ALERTAS {
  background-color: #8c4af2;
  color: white;
}

.btnStatus ul li.ALERTAS div {
  border-radius: 10px 0px 0px 10px;
  background-color: rgb(250, 75, 44);
  height: 30px;
  display: flex;
  align-items: center;
  width: 50px;
  justify-content: center;
}

.btnStatus ul li.AVALIAR {
  background-color: #8c4af2;
  color: white;
}

.btnStatus ul li.AVALIAR div {
  border-radius: 10px 0px 0px 10px;
  background-color: rgb(214, 247, 96);
  height: 30px;
  display: flex;
  align-items: center;
  width: 50px;
  justify-content: center;
}



.hid {
  display: none !important;
}

.name {
  background-color: #8c4af2;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.grafico2 span {
  display: flex;
  flex-direction: column;
}

.spancont {
  display: block;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
  width: auto !important;

}

.spancont div.inativo {
  background-color: rgb(255, 99, 71);
}

.spancont div.pendente {
  background-color: rgb(255, 204, 95);
}

.spancont div.ativo {
  background-color: rgb(95, 141, 255);
}

.spancont div {
  width: 80%;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
  margin: 2px;
}

.lispan span {
  width: 165px;
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px;
  color: black;
}

.lispan span.check {
  background-color: #5878fa7a;
}

.lispan span.ncheck {
  background-color: rgba(255, 99, 71, 0.479);
}

.lispan span.mcheck {
  background-color: rgba(255, 255, 92, 0.548)
}

.especial {
  width: 294px !important;
  background-color: red !important;
}

#emailv {
  width: 100% !important;
}

.dashinfoControle {
  margin-bottom: 5px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  border-radius: 5px;
  width: 800px;
}

.dashinfoControle img {
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.dashinfoControle h3 {

  font-size: 14px;
  font-weight: 700;
  width: 100% !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dashinfoControle h3 p {
  display: flex;
  justify-content: space-between;

}

.dashinfoControle h3 p span {

  width: 100px;
}

.gdb {
  padding: 0px 10px;
  height: 400px;
  width: 103%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.hello {
  background: linear-gradient(158deg, rgba(158, 97, 252, 1) 0%, rgba(44, 49, 182, 1) 100%);
  color: whitesmoke;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hello button {
  transition: .3s;
  background-color: rgb(123, 107, 126);
  border-style: none;
  border: 2px solid rgb(158, 158, 158);
  border-radius: 5px;
  color: rgb(253, 253, 252);
  padding: 5px;
  cursor: pointer;
}

.hello button:hover {
  background-color: #333;
  color: whitesmoke;
  border: 2px solid #fc3f3f00;
}

#modalCriar a {
  color: #fff;
  font-weight: 800;
  position: absolute;
  margin-left: 430px;
  margin-bottom: 410px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #5879FA;
  border-radius: 50%;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

#modalCriar.close {
  display: none;
}

#modalCriar {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.836);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

#modalCriar span {
  background-color: tomato;
  border-radius: 10px;
  padding: 2px;
  margin: 5px;
}

#modalCriar form {
  border-radius: 10px;
  display: flex;
  width: 400px;
  flex-direction: column;
  padding: 15px;
  background-color: rgb(252, 252, 252);
}

#modalCriar form input {
  margin: 5px;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgb(153, 153, 153);
  padding-left: 5px;
  border-radius: 4px;
  color: #000;
}

#modalCriar form input::placeholder {
  color: rgb(116, 116, 116);
}

#adad {
  transition: .3s;
  cursor: pointer;
  font-size: 0.9rem;
  color: white !important;
  background: linear-gradient(to right, #4776E6, #014f86);
}

#adad:hover {
  background: linear-gradient(to left, #5879FA, #8e54e9);
  background: linear-gradient(to left, #5879FA, #8e54e9);
  cursor: pointer;
  color: white;
}

.updateEqp {
  display: none !important;
}

.createEqp {
  display: none !important;
}

.updateEqp.ativo {
  display: inherit !important;
}

.createEqp.ativo {
  display: inherit !important;
}

#fkFuncionario {
  margin: 5px;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgb(153, 153, 153);
  padding-left: 5px;
  border-radius: 4px;
}

#fkFuncionario option {
  background-color: rgb(151, 151, 151);
}

#tt {
  cursor: pointer;
}

.fundoIns {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.836);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.abrir {
  opacity: 1;
  pointer-events: auto;
}

.modalCadastro {
  width: 400px;
  height: 515px;
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  margin-left: 450px;
  margin-top: 60px;
  text-align: center;
}

.fecharIns {
  position: absolute;
  width: 40px;
  height: 40px;
  right: -30px;
  top: -20px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #ffffff;
  border-radius: 50%;
  background: #5879FA;
  text-decoration: none;
  font-weight: 800;
}

.formCadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.formCadastro label {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.formCadastro label span {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: left;
}

.formCadastro h3 {
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 1rem;
  position: relative;
}

.formCadastro h3::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 70px;
  bottom: 0;
  left: 3;
  border-radius: 8px;
  background: rgb(44, 130, 185);
  background: linear-gradient(90deg,
      rgba(44, 130, 185, 1) 0%,
      rgba(123, 187, 228, 1) 100%);
}

button img {
  width: 20px;
  position: absolute;
  margin-left: 5px;
}

.input-fild {
  position: relative;
}

.input-fild input {
  width: 350px;
  height: 40px;
  background: none;
  border: none;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 4px;
}

::-webkit-input-placeholder {
  color: rgba(83, 83, 83, 0.822);
  font-weight: bold;
}

.cadastrar {
  border: none;
  transition: .3s;
  cursor: pointer;
  font-size: 0.9rem;
  color: white !important;
  background: linear-gradient(to right, #4776E6, #014f86);
  margin-top: 20px;
  height: 40px;
  width: 100%;
  border-radius: 10px;
}

.cadastrar:hover{
  background: linear-gradient(to left, #5879FA, #8e54e9);
    background: linear-gradient(to left, #5879FA, #8e54e9);
    cursor: pointer;
    color: white;
}