@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --primary-azul: #2c82b9;
  --cor-preto: #000;
  --font-lato-corpo: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: var(--font-lato-corpo);
}

body {
  font-weight: 500;
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}

/*Header*/

.voltar {
  width: 40px;
  position: absolute;
  margin-top: 1.3rem;
  margin-left: 1rem;
  cursor: pointer;
  z-index: 9;
}

.containerCadastro {
  width: 100% !important;
  height: 90px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 134px;
  padding-right: 240px;
}

.containerCadastro h1 {
  color: var(--primary-azul);
  font-size: 2.8rem;
  text-align: center;
}

.containerCadastro img {
  height: 32px;
}

.box-fast {
  display: flex;
  justify-content: center;
}

.box-fast span {
  font-size: 1.6rem;
  font-weight: bold;
}

/* Corpo Main */
main {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Formulário cadastro */
main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

main form label {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

main form label span {
  font-size: 0.8rem;
  font-weight: bold;
}

main form h3 {
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 1rem;
  position: relative;
}

main form h3::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 70px;
  bottom: 0;
  left: 3;
  border-radius: 8px;
  background: rgb(44, 130, 185);
  background: linear-gradient(90deg,
      rgba(44, 130, 185, 1) 0%,
      rgba(123, 187, 228, 1) 100%);
}

main form .input-fild {
  position: relative;
}

main form .input-fild input {
  width: 400px;
  height: 25px;
  outline: none;
  background: none;
  outline: none;
}

main form .input-fild input::placeholder {
  color: rgba(138, 138, 138, 0.733);
}

main form .input-fild .underline::before {
  content: "";
  position: absolute;
  height: 0.5px;
  width: 100%;
  left: 0;
  background-color: rgb(92, 91, 91);
  border-radius: 10px;
}

main form .input-fild .underline::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  background: linear-gradient(90deg,
      rgba(44, 130, 185, 1) 0%,
      rgb(103, 162, 202) 40%,
      rgb(97, 149, 184) 60%,
      rgba(44, 130, 185, 1) 100%);
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

main form .input-fild input:focus~.underline::after {
  transform: scaleX(1);
}

::-webkit-input-placeholder {
  color: rgba(83, 83, 83, 0.822);
  font-weight: bold;
}

main button {
  cursor: pointer;
  width: 35%;
  height: 40px;
  margin-top: 1rem;
  border: none;
  border-radius: 12px;
  background: linear-gradient(to right, #5c86e7, #014f86);
  color: white;
  font-size: 1.1rem;
  transition: all 0.2s ease-in-out;
  margin-left: 45vh;
  border: none;
}

main button img {
  width: 20px;
  position: absolute;
  margin-left: 5px;
}

main form button:hover {
  width: 36%;
  height: 41px;
  letter-spacing: 0.2px;
  background: linear-gradient(#5e89ee, #023b64);
}

.formAcess {
  margin-top: 7vh;
  opacity: 1;
  pointer-events: auto;
  animation-name: slideRight;
  -webkit-animation-name: slideRight;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@keyframes slideRight {
  0% {
    transform: translateX(-150%);
  }

  50% {
    transform: translateX(8%);
  }

  65% {
    transform: translateX(-4%);
  }

  80% {
    transform: translateX(4%);
  }

  95% {
    transform: translateX(-2%);
  }

  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-150%);
  }

  50% {
    -webkit-transform: translateX(8%);
  }

  65% {
    -webkit-transform: translateX(-4%);
  }

  80% {
    -webkit-transform: translateX(4%);
  }

  95% {
    -webkit-transform: translateX(-2%);
  }

  100% {
    -webkit-transform: translateX(0%);
  }
}

/* Section fundo img */

section.images {
  width: 50vw;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 4rem;
}

section.images img {
  width: 100%;
}

section.images .circle {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #e8cbc0, #444444);
  clip-path: circle(40% at right 80%);
  z-index: -1;
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
  section.images img {
    width: 110%;
  }

  section.images .circle {
    clip-path: circle(35% at right 80%);
  }
}

@media only screen and (max-width: 900px) {
  section.images {
    display: none;
    visibility: hidden;
  }

  main {
    width: 100vw;
  }
}

@media only screen and (max-width: 450px) {
  main h1 {
    font-size: 2rem;
  }

  main .alternative span {
    font-size: 0.8rem;
  }

  main form label span,
  main form input[type="submit"] {
    font-size: 1rem;
  }
}

/* Modal para vizualizar cadastrado */
#modal {
  border-radius: 10px;
  display: none;
}

#modal.ativo {
  display: block !important;
}

.modal {
  position: absolute;
  top: 3%;
  left: 30%;
  width: 480px;
  height: 150px;
  z-index: 1000;
  background: rgb(220, 220, 221);
  background: linear-gradient(146deg, rgba(220, 220, 221, 1) 0%,
      rgba(232, 232, 232, 1) 53%, rgba(238, 238, 238, 1) 100%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  animation-name: slideDown;
  -webkit-animation-name: slideDown;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

.modal img {
  height: 60px;
  padding: 10px;
}

.fecharIns {
  position: absolute;
  width: 40px;
  height: 40px;
  right: -30px;
  top: -20px;
  text-align: center;
  line-height: 40px;
  margin-top: 5px;
  background: #2c82b9;
  border-radius: 50%;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

.modal h1 {
  font-weight: bold;
  width: 70%;
  font-weight: 1000;
  font-size: 3.5vh;
  margin: 0;
  display: flex;
  justify-content: center;
}

.modal a {
  text-decoration: none;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(8%);
  }

  65% {
    transform: translateY(-4%);
  }

  80% {
    transform: translateY(4%);
  }

  95% {
    transform: translateY(-2%);
  }

  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }

  50% {
    -webkit-transform: translateY(8%);
  }

  65% {
    -webkit-transform: translateY(-4%);
  }

  80% {
    -webkit-transform: translateY(4%);
  }

  95% {
    -webkit-transform: translateY(-2%);
  }

  100% {
    -webkit-transform: translateY(0%);
  }
}