@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap');

:root {
    --cor-primario-azul: #5879FA;
    --cor-secundaria-cinza: #E9EBF0;
    --cor-oposto-vermelho:red;
    --cor-terciaria-roxo:#7644D4;
    --cor-preto:#000;
    
    --font-roboto-titulo:'Roboto', sans-serif;
    --font-montserrat-corpo:'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(237,237,253);
    background: linear-gradient(0deg, rgba(237,237,253,1) 0%, rgba(179,179,204,1) 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 80%;
    margin: auto;



}
.side-bar{
   
    position: absolute;
    left: 60px;
    bottom: 1px;
    top: 1px;
   display: flex;
   justify-content: center;
   align-items: center; 
    
}
.nav-bar{
    height: 80%;
    width: 15em;
    background: #8C4AF2;
    border-radius:44px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dash-content{
    height: 90vh;
    width: 100%;
    background: rgb(237,237,253);
    border-radius:44px ;

}

