@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap");
:root {
  --cor-primario-azul: #5879fa;
  --cor-secundaria-cinza: #e9ebf0;
  --corcinza-escuro: #575757;
  --corcinza-claro: #b8b8b8;
  --cor-white: #ffffff;
  --cor-oposto-vermelho: red;
  --cor-terciaria-roxo: #7644d4;
  --cor-roxo-claro: #c5afec;
  --cor-preto: #000;
  --font-roboto-titulo: "Roboto", sans-serif;
  --font-montserrat-corpo: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(237, 237, 253);
  background: linear-gradient( 0deg, rgba(237, 237, 253, 1) 15%, rgba(179, 179, 204, 1) 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  margin: auto;
}

.side-bar {
  position: absolute;
  left: 60px;
  bottom: 1px;
  top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.nav-bar {
  height: 80%;
  width: 15em;
  background: rgb(158, 97, 252);
  background: linear-gradient(158deg, rgba(158, 97, 252, 1) 0%, rgba(44, 49, 182, 1) 100%);
  border-radius: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  box-shadow: 5px 7px 13px 1px var(--cor-roxo-claro)
}

.dash-content {
  height: 90vh;
  width: 105%;
  background: rgb(237, 237, 253);
  border-radius: 44px;
  position: relative;
}

.nav-bar ul li {
  list-style: none;
  padding: 0.3em;
  font-weight: 0;
  font-family: var(--font-roboto-titulo);
  top: 5;
}

.nav-bar ul {
  font-size: 18px;
  text-align: center;
  margin-top: 60px;
}

.nav-bar img {
  width: 150px;
}

a {
  text-decoration: none;
  color: rgb(237, 237, 253);
}

/* Barra de pesquisa */

.pesquisa {
  position: absolute;
  display: flex;
  flex-flow: row;
  top: 30px;
  right: 660px;
}

.pesquisa input {
  height: 15px;
  width: 220px;
  font-size: 15px;
  border: none;
  background-color: var(--cor-white);
  border-radius: 30px;
  margin-top: 12px;
  padding: 10px;
  box-shadow: 5px 7px 13px 1px var(--corcinza-escuro);
}

::-webkit-input-placeholder {
  color: rgb(168, 167, 167);
}

.btn-busca {
  height: 22px;
  width: 20px!important;
  cursor: pointer!important;
  border: none;
  position: absolute;
  top: 40%;
  right: 20px;
  padding: 0;
  background: var(--cor-white);
}

.btn-busca img {
  width: 20px!important;
}

/* Box de funcionários */

.box-funcionarios {
  height: 65%;
  width: 77%;
  position: absolute;
  display: block;
  top: 110px;
  right: 50px;
  overflow-y: scroll;
}

::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}

::-webkit-scrollbar {
  width: 6px;
  background: #7a0000;
}

::-webkit-scrollbar-thumb {
  background: var(--corcinza-claro);
  border-radius: 20px;
}

.conteudo-funcionario {
  height: 46%;
  width: 22%;
  background: var(--cor-white);
  border-radius: 30px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 0;
  text-align: center;
  box-shadow: 5px 7px 13px 1px var(--corcinza-escuro);
  float: left;
  text-decoration: none;
}

.conteudo-funcionario h2 {
  margin-top: 15%;
  font-family: var(--font-roboto-titulo);
  font-size: 20px;
}

.conteudo-funcionario ul li{
  list-style-type: none;
  list-style: none;
}

.conteudo-funcionario a {
  text-decoration: none;
  color: var(--cor-terciaria-roxo);

}

/* Box perfil usuário */

.user-box {
  position: absolute;
  display: flex;
  flex-flow: row;
  top: 30px;
  right: 100px;
}

.user-box div h1 {
  font-family: var(--font-roboto-titulo);
  font-weight: 600;
  font-size: 16px;
  color: #2C3F83;
  margin-left: 10px;
}

.user-box div h3 {
  font-family: var(--font-roboto-titulo);
  font-weight: 400;
  color: #2C3F83;
  font-size: 13px;
  margin-left: 10px;
}

.img-perfil {
  width: 60px;
}

.seta {
  width: 22px;
  cursor: pointer;
  margin-left: 10px;
}

.info-user {
  margin-top: 17px;
}

/* apagar dps */